<!--<style>
div {
    background-color: lightblue;
}
</style>-->


  <!--<p>
Vehicle image :

<img src="{{vehicleDataDesc.img}}" alt="Mountain View" style="width:200px;height:200px;">
</p>

<p>
Manufacturer:{{vehicleDataDesc.manufacturer}} 
</p>

 <p>
Price :{{vehicleDataDesc.price}} 
</p>

<p>
<a href="{{vehicleDataDesc.wiki}}">More Information</a>
</p>-->

<div>
 <p>
<br>
Manufacturer: {{vehicleDataDesc.manufacturer}} 
<br>
Model : {{vehicleDataDesc.model}} 
<br>
Year : {{vehicleDataDesc.year}} 
<br>
Price : {{vehicleDataDesc.price}} 
<br>
Overall Rating : {{vehicleDataDesc.rating}} 
<br>
<a href="{{vehicleDataDesc.wiki}}"> More Information</a>
<br>
Vehicle image :
<img src="{{vehicleDataDesc.img}}" alt="Mountain View" style="width:100px;height:100px;">
</p>
</div>